server {
    listen 80;
    server_name ~^(?P<subdomain>.+)\.{{ $.Env.FROM_HOST_REGEXP }}$;

    location / {
        resolver {{ $.Env.RESOLVER_IP }}{{ if $.Env.RESOLVER_VALID_SEC }} valid={{ $.Env.RESOLVER_VALID_SEC }}s{{ end }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        set $var_forwarded_proto  {{ $.Env.X_FORWARDED_PROTO }};
        if ($http_x_forwarded_proto) {
          set $var_forwarded_proto  $http_x_forwarded_proto;
        }
        proxy_set_header X-Forwarded-Proto $var_forwarded_proto;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        {{ if $.Env.TO_HOST }}
        proxy_pass http://$subdomain.{{ $.Env.TO_HOST }};
        {{ end }}
        {{ if $.Env.PROXY_PASS }}
        proxy_pass {{ $.Env.PROXY_PASS }};
        {{ end }}
    }
}

server {
    listen 80 default_server;
    send_timeout 120;
    add_header Cache-Control no-cache;

    location /healthcheck {
      empty_gif;
      break;
    }
}
